.authentic {
  padding: 8rem 0;
  background-color: $color-light;

  &__wrap {
    @include respond-to(sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      gap: 1rem;
    }
  }

  &__img-box {
    margin-bottom: 4rem;

    @include respond-to(sm) {
      flex-basis: 50%;
    }
  }

  &__text-box {
    @include respond-to(sm) {
      flex-basis: 50%;
    }

    @include respond-to(lg) {
      flex-basis: 39%;
    }

    @include respond-to(xlg) {
      flex-basis: 30%;
    }
  }

  &__text-wrap {
    margin-top: 3rem;

    @include respond-to(lg) {
      margin-top: 6rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    line-height: 2.6rem;

    @include respond-to(md) {
      font-size: 1.8rem;
    }

    @include respond-to(lg) {
      font-size: 2rem;
    }

    @include respond-to(xlg) {
      font-size: 1.9rem;
    }
  }
}
