h1,
.h1 {
  font-size: 3rem;
  color: $color-white;
  font-family: $ff-serif;
  text-transform: uppercase;
  @include respond-to(lg) {
    font-size: 9rem;
  }
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
  font-family: $ff-serif;
  margin-bottom: 3rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2.5rem;
  font-family: $ff-serif;
  font-weight: normal;
  margin-bottom: 3rem;
}

h6 {
  font-size: 1.8rem;
}
