$color-white: #fff;
$color-black: #000;
$color-grey: #7f7f7f;
$color-silver: #c0c0c0;
$color-light: #f7f7f7;
$color-light-1: #f1f2f2;

$ff-sans: "Helvetica", sans-serif;
$ff-serif: "GTSectraDisplay", sans-serif;
