$color-white: #fff;
$color-black: #000;
$color-grey: #7f7f7f;
$color-silver: #c0c0c0;
$color-light: #f7f7f7;
$color-light-1: #f1f2f2;
$color-light-2: #f8f8f8;
$color-dark-gray: #a8a8a8;
$color-dark-gray-2: #5a5858;
$color-dark: #2c2c2c;
$color-rice: rgb(235, 234, 229);

$ff-sans: "Helvetica", sans-serif;
$ff-serif: "GTSectraDisplay", sans-serif;
